__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
nohup.out
*.png
*.egg
*.log
*.swp
.DS_Store
log/
screen/
inst

server/backend/node_modules/
server/backend/package-lock.json
server/backend/routes/uploads/

server/client/node_modules/
server/client/package-lock.json

logs/**
!logs/.keep